header {
  height: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #dde4f0;
  background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
}

.header-text-bold {
  font-weight: bold;
}

.header-text-light {
  font-weight: lighter;
}