.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: flex-start;
}

form {
  display: flex;
  flex-direction: column;
}